body {
	margin: 0 auto;
	padding: 0;
	font-family: 'Georgia', serif;
	background: url("../res/foggy_16_9.png") no-repeat center fixed;
	
	background-size: 100vw 100vh;
}

.nav {
	background-color: #000936;		/*navbar colour*/
	color: #ff7a21;					/*text colour*/
	list-style: none;				/*<li> in html*/
	text-align: right;				/*puts <li> elements to the right*/
	position: absolute;
	right: 0vw;
	padding-right: 0vw;
	padding-top: 2vh;
	padding-bottom: 2vh;
	display: table;
	width: 100vw;
}

.nav > li {
	display: inline-block;
	padding-right: 4vw;
	overflow-wrap: break-word;
	cursor: pointer;
}
.nav > h1 { /*logo*/
	text-decoration: none;
    text-align: left;
    padding-left: 2vw;
    display: table-cell;
    vertical-align: middle;
}

.nav > li > a { /*links*/
	text-decoration: none;
	text-align: right;
	color: #ff7a21;
	font-size: 120%;
	display: inline-block;
}

.nav > li > a:hover {
	color: #cd8800;
	text-decoration: underline;
}

.projects {
	padding-top: 2%;
	padding-left: 0vw;
	position: relative;
	left: 20vw;
	top: 10.66666666666666667vh;
	text-align: center;
	width: 60vw;
	height: 100vh;
	overflow-wrap: break-word;
	background-color: rgb(200,200,200);
	border-style: solid;
	border-color: black;
	border-radius: 5px;
	border-top: none;
}

.projects > div {
	background-color: white;
	position: relative;
	left: 2%;
	width: 96%;
	border-radius: 15px;
	border-style: solid;
	border-color: black;
	text-decoration: bold;
	padding-top: 1%;
	padding-bottom: 1%;
	font-family: "Trebuchet MS", sans-serif;
}

.projects > div > li > a {
	color: rgb(0,0,200);
}
.projects > div > li > a:hover {
	color: rgb(0,0,150);
}